@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

:root {
  /* Default Colors (Light Mode ko hum Gym theme ke mutabiq dark hi rakhenge) */
  --background: #000000;
  --foreground: #ffffff;
  
  /* Aapke Screenshot wale Colors */
  --gym-green: #82cd2b;
  --gym-dark: #0D0D0D;
}

@theme inline {
  /* Registering custom colors for Tailwind classes */
  --color-gym-green: var(--gym-green);
  --color-gym-dark: var(--gym-dark);
  
  /* Mapping background to our variable */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Base Body Styles */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', Arial, Helvetica, sans-serif; /* Gym designs mein Inter/Impact acha lagta hai */
  margin: 0;
  padding: 0;
}

/* Next.js Image component fix */
img {
  max-width: 100%;
  height: auto;
}

